

.container-sm{
    width: 65%;
    margin: 0 auto;
  }
  .container-lg{
    width: 100%;
  }
  .container-md{
    width: 80%;
    margin: 0 auto;
  }

  .padding-md{
    padding:60px 0;
  }

  
/*HEADER*/
.logo--text{
    font-size: 2em;
    text-transform: uppercase;
    font-weight: 800;
  }
  .header{
    padding: 3px 110px 12px;
    min-height: 40px;
    background-color: $primary-blue;
    color: white;
    box-shadow: -2px 1px 1px #A9A9A9;
  &__logo{
    float:left;
  }
  
  &__burger{
  position: absolute;
  right: 20px;
  top: 11px;
  display:none;
  cursor:pointer;
  }
  &__nav{
    float:right;
    padding-top: 11px;
  }
  }
  
  .burger__menu{
    font-size: 2em;
    color: #fff;
  }
  .nav__list{
    font-weight: 500;
  }
  .nav__item{
    list-style: none;
    display:inline-block;
    padding: 0 20px;
  }

  @media(max-width:710px){

    .header{
      padding: 5px 15px 10px ;
      text-align: center;
  
    &__burger{
      display: block;
    }
    &__logo{
      float: none;
      text-align: center;
      display: none;
    }
  
    &__nav{
      float:none;
      display: none;
    }
  }
  
  .nav{
    &__list{
      text-align: center;
    }
    &__item{
      display: block;
      padding: 12px 0;
    }
    &__item--active{
       background-color: lightgrey;
     }
  }
  }

  @media(max-width:900px){

    .header{
      padding-left: 30px;
      padding-right: 30px;
  }
      }
  
  @media(min-width:711px){
    .header__nav{
      display: block !important;
  
    }
  }

 /* Header End */