.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;

  @media (min-width: 768px) {
    width: 750px;
  }

  @media (min-width: 992px) {
    width: 970px;
  }

  @media (min-width: 1200px) {
    width: 1170px;
  }
}

.row {
  @include for-tablet-landscape-up {
    display: flex;
  }

  &--space-between {
    justify-content: space-between;
  }

  &--space-around {
    justify-content: space-around;
  }

  &--flex-wrap {
    flex-wrap: wrap;
  }
}

.flex {
  display: flex;
}

.half {
  flex: 0 0 50%;
}

.two-thirds {
  flex: 0 0 66%;
}

.one-third {
  flex: 0 0 33%;
}
