.about {
  justify-content: space-between;

  &__img {


    @include for-tablet-landscape-up {
      display: block;
    }

    flex: 0 1 30%;

    img {
      max-width: 275px;
      margin: 0 auto;
      width: 100%;
      display: block;
      box-shadow: 1px 1px 7px #777;
    }
  }

  &__heading {
    font-weight: bold;
    font-size: 1.8rem;
    margin-bottom: .25rem;
  }

  &__text {
    flex: 0 1 70%;
    font-size: 1.2rem;
    padding: 30px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;

    @include for-tablet-landscape-up {
      text-align: left;
      border-top-right-radius: 10px;
      border-bottom-right-radius: 10px;
    }
  }
}
