.cards {
  @include for-tablet-landscape-up {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
}

.card {
  @include for-tablet-portrait-up {
    flex: 25%;
  }

  @include for-tablet-landscape-up {
    flex: 50%;
  }

  // margin: 1.5rem;
  margin: 1rem;
  border: 1px solid #ccc;
  box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.3);

  &__img {
    width: 100%;
    height: auto;
  }

  &__text {
    padding: 0 20px 20px;
  }
}
