.logo-row {
  align-items: center;
  text-align: center;
  margin-top: 2rem;
  flex-wrap: wrap;
  justify-content: center;
  
  &__item {
    flex: 0 0 30%;
    margin: 1rem 0;
  }

  &__img {
    width: auto;
    height: 95px;
  }
}
