.project-info {
  padding: 20px;
  background-color: #f5f6fa;

  &__data {
    @include for-tablet-portrait-up {
      display: flex;
    }

    flex-wrap: nowrap;
  }

  &__data-info {
    flex: 1 1 auto;

    @include for-tablet-portrait-up {
      text-align: right;
    }
  }

  &__data-title {
    flex: 1 1 auto;
    font-weight: bold;
  }

  &__text {
    margin-top: 1rem;
  }
}

.project-content {
  &__title {
    font-weight: bold;
    font-size: 1.3rem;
    margin-top: 1rem;
    margin-bottom: .5rem;
  }

  &__list {
    list-style-type: disc;
    padding-left: 1.2rem;
    margin-bottom: 1rem;
  }

  &__list-item {
    margin-bottom: .3rem;
  }
}
