.testimonials {
  flex: 1 1 50%;
  padding: 15px 10px;
  border-radius: 2rem;
  margin: 2rem 1rem;

  &__quote {
    font-style: italic;
    font-size: 1.4rem;
    text-align: center;

    &:focus {
      outline: none;
    }

    @include for-tablet-portrait-up {
      padding: 0 65px;
    }

    position: relative;
  }

  &__quote-mark {

    &::after,
    &::before {
      font-weight: bold;
      font-style: italic;
      font-size: 1.8rem;
      color: #eee;
    }
  }

  &__name {
    font-weight: bold;
    display: block;
    margin-top: 1rem;
  }
}
