.dark-grey-bg {
  background-color: $dark-grey;
  color: #eee;
}

.text--center {
  text-align: center;
}

.text--bold {
  font-weight: bold;
}

.display--block {
  display: block;
}

.mt--2 {
  margin-top: 2rem;
}

.mr--half {
  margin-right: .5rem;
}

.mb {
  &--quarter {
    margin-bottom: .25rem;
  }

  &--half {
    margin-bottom: .5rem;
  }

  &--1 {
    margin-bottom: 1rem;
  }

  &--2 {
    margin-bottom: 2rem;
  }
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

@include for-tablet-portrait-up {
  .order-tablet-portrait-up-first {
    order: 1;
  }

  .order-tablet-portrait-up-second {
    order: 2;
  }
}
